.appInfoBar {
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 0 24px;
  gap: 12px;
}

.homeLink {
  color: var(--text-secondary);
  font-size: 16px;
  &:hover {
    color: var(--primary-color);
  }
}

.appInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appName {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary);
}

.appBinding {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
}