.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f6f7;
  overflow: hidden;

  &-main {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    overflow-x: hidden;

    &.with-sidebar {
      padding: 20px;
      overflow-y: auto;
    }
  }
}