<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.it.works.wecode.v2.modules.approval.mapper.ApprovalFlowMapper">

    <resultMap id="BaseResultMap" type="com.xxx.it.works.wecode.v2.modules.approval.entity.ApprovalFlow">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="nodes" property="nodes"/>
        <result column="create_time" property="createTime"/>
        <result column="last_update_time" property="lastUpdateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, code, name, nodes, create_time, last_update_time
    </sql>

    <!-- ==================== selectByCode ==================== -->
    <select id="selectByCode" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM openplatform_v2_approval_flow_t
        WHERE code = #{code}
    </select>

</mapper>
